$roboto: 'Roboto', sans-serif;
$heebo: 'Heebo', sans-serif;
h1,
h2,
h3,
h4,
h5,
h6,
b,
strong {
    font-family: $roboto;
}
$padding: 100px 0;
$bg: linear-gradient(135deg, #fd491a 0%, #d91700 100%);
$bg_hover: linear-gradient(135deg, #d91700 0%, #fd491a 100%);

* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}
html {
    font-size: 16px;
    scroll-behavior: smooth;
}
.fixed__width {
    width: 75%;
    margin: auto;
}
@mixin section__title {
    text-align: center;
    h3 {
        color: #fd491a;
        text-transform: capitalize;
        font-size: 1.3rem;
        font-weight: 500;
    }
    h2 {
        text-transform: capitalize;
        font-size: 2.3rem;
        margin-top: 10px;
    }
}
p,
span,
a {
    font-family: $heebo;
}
img {
    max-width: 100%;
}
/*-- header start--*/
header {
    background: url(../image/ia_100000021.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    /*-- header animete start--*/
    ol {
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-around;
        z-index: 3;
        pointer-events: none;
        li {
            width: 1px;
            height: 100%;
            background: rgba(221, 221, 221, 0.13);
            position: relative;
            @keyframes header__animetion {
                0% {
                }
                100% {
                    top: 103%;
                }
            }
            &::before {
                content: '';
                width: 4px;
                height: 20px;
                background: rgb(255, 255, 255);
                position: absolute;
                top: 0;
                left: -1px;
                margin: auto;
                transition: 0.4s;
                animation: header__animetion 8s linear infinite;
            }
            &:nth-last-child(2)::before {
                animation-delay: 2s;
            }
            &:nth-last-child(4)::before {
                animation-delay: 2s;
            }
        }
    }
    nav {
        border-bottom: 1px solid rgba(221, 221, 221, 0);
        padding: 10px 0;
        #my__nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .nav__left {
                flex-grow: 0;
                img {
                    width: 100px;
                }
            }
            .nav__center {
                text-align: center;
                ul {
                    display: flex;
                    flex-grow: 1;
                    li {
                        margin: 0 19px;
                        position: relative;
                        &:nth-last-child(6) a {
                            &::before,
                            &::after {
                                display: none;
                            }
                        }
                        &:nth-last-child(1) a {
                            &::before,
                            &::after {
                                display: none;
                            }
                        }
                        a {
                            color: #fff;
                            display: block;
                            font-weight: 400;
                            text-transform: capitalize;
                            font-size: 1rem;
                            transition: 0.4s;
                            padding: 20px 0;
                        }
                        &:hover > a {
                            color: #e92e0c;
                            &::after {
                                opacity: 1;
                                visibility: visible;
                                transform: rotate(360deg);
                            }
                            &::before {
                                opacity: 0;
                                transform: rotate(160deg);
                                visibility: hidden;
                            }
                        }
                        &:hover ul {
                            opacity: 1;
                            visibility: visible;
                            transform: translateY(0);
                        }
                        /*-- dropdown menu design start--*/

                        > ul {
                            position: absolute;
                            width: 250px;
                            flex-direction: column;
                            background: #fff;
                            text-align: left;
                            border-radius: 3px;
                            transition: all 0.4s ease-in-out;
                            left: 0;
                            top: 100%;
                            padding: 10px;
                            opacity: 0;
                            visibility: hidden;
                            transform: translateY(10px);
                            z-index: 2;
                            li {
                                a {
                                    color: #222;
                                    padding: 4px 0;
                                    &:hover {
                                        letter-spacing: 1.1px;
                                    }
                                }
                            }
                        }
                    }
                }
                > ul > li > a {
                    position: relative;
                    &::before {
                        content: '\f067';
                        font-family: 'font awesome 5 free';
                        font-weight: 600;
                        position: absolute;
                        left: 120%;
                        font-size: 0.6rem;
                        top: 27px;
                        transition: 0.4s;
                    }
                    &::after {
                        content: '\f068';
                        font-family: 'font awesome 5 free';
                        font-weight: 600;
                        position: absolute;
                        left: 120%;
                        font-size: 0.6rem;
                        top: 27px;
                        transition: 0.4s;
                        opacity: 0;
                        visibility: hidden;
                    }
                }
            }
            .nav__right {
                flex-grow: 0;
                border-radius: 50px;
                background: $bg;
                transition: all 0.6s ease-out;
                &:hover {
                    background: $bg_hover;
                }
                a {
                    color: #fff;
                    display: block;
                    padding: 12px 30px;
                    text-transform: capitalize;
                    font-weight: 500;
                }
            }
        }
    }
    .sticky-top {
        position: fixed;
        width: 100%;
        top: 0;
        background: #1747b5;
        transition: all 0.4s;
        border-color: rgba(221, 221, 221, 0.199);
        z-index: 99;
        box-shadow: 0 4px 10px #0c36972d;
    }
}
.header__inner {
    .header__content {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 92vh;
        .header__content__left {
            flex: 1;
            h3 {
                color: #fff;
                font-size: 1.5rem;
                font-weight: 500;
            }
            h1 {
                font-size: 3.5rem;
                color: #fff;
                margin: 14px 0;
            }
            h2 {
                color: #fff;
                font-size: 2.2rem;
                margin: 14px 0;

                font-weight: 500;
            }
            p {
                color: #fff;
                font-weight: 400;
            }
            .header__content__btn__group {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                margin-top: 30px;
                a.aboutbtn {
                    display: inline-block;
                    background: $bg;
                    color: #fff;
                    text-transform: capitalize;
                    padding: 9px 30px;
                    font-size: 1.1rem;
                    font-weight: 500;
                    border-radius: 50px;
                    transition: all 0.4s;
                    margin-right: 20px;
                    &:hover {
                        background: $bg_hover;
                    }
                }
                a.videobtn {
                    color: #fff;
                    font-weight: 500;
                    font-size: 1rem;
                    text-transform: capitalize;
                    display: inline-block;
                    border-radius: 50px;
                    position: relative;
                    z-index: 1;
                    padding: 0 10px;
                    transition: all 0.4s;
                    transition-delay: 0.1s;
                    b {
                        font-weight: 500;
                        position: relative;
                        top: -3px;
                    }
                    &:hover {
                        color: #e92e0c;
                    }
                    &:hover::before {
                        width: 100%;
                    }
                    &::before {
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 45px;
                        height: 100%;
                        border-radius: 50px;
                        background: rgb(255, 255, 255);
                        z-index: -1;
                        transition: all 0.4s;
                        margin-left: 10px;
                    }
                    span {
                        display: inline-block;
                        margin-right: 4px;
                        color: #e92e0c;
                        background: #fff;
                        width: 45px;
                        height: 45px;
                        border-radius: 50%;
                        transition: 0.4s;
                        i {
                            display: inline-block;
                            font-size: 1.5rem;
                            display: block;
                            text-align: center;
                            line-height: 45px;
                        }
                    }
                }
            }
        }
        .header__content__right {
            flex: 1;
            text-align: right;
            img {
                animation: image__animate ease 16s;
                animation-iteration-count: infinite;
                transform-origin: 50% 50%;
            }

            @keyframes image__animate {
                0% {
                    transform: translate(8px, 0px);
                }
                19% {
                    transform: translate(0px, -1px);
                }
                35% {
                    transform: translate(1px, 8px);
                }
                50% {
                    transform: translate(-13px, -5px);
                }
                66% {
                    transform: translate(3px, -11px);
                }
                81% {
                    transform: translate(-7px, -11px);
                }
                100% {
                    transform: translate(8px, 0px);
                }
            }
        }
    }
}
/*-- header part design  end--*/
/*-- our__features__section  start--*/
.our__features__section {
    padding: $padding;

    .our__features__section__main {
        display: flex;
        align-items: center;
    }
    .our__feature__section__left {
        flex: 1;
        img {
            max-width: 100%;
        }
    }
    .our__feature__section__right {
        flex: 1;
        h5 {
            color: #e92e0c;
            text-transform: capitalize;
            font-size: 1.3rem;
            font-weight: 500;
            margin-bottom: 15px;
        }
        h2 {
            font-weight: 600;
            color: #111;
            font-size: 2.4rem;
            line-height: 55px;
        }
        p {
            color: #999;
            line-height: 30px;
            margin: 15px 0;
            font-size: 1.1rem;
        }
        .features__link {
            display: flex;
            > ul {
                margin-right: 100px;
                margin-top: 10px;
                li {
                    position: relative;
                    padding-left: 16px;
                    transition: 0.4s;
                    &:hover {
                        &::before {
                            color: #e92e0c;
                        }
                        a {
                            color: #e92e0c;
                        }
                    }
                    &::before {
                        content: '\f101';
                        font-family: 'font awesome 5 free';
                        font-weight: 600;
                        font-size: 0.9rem;
                        position: absolute;
                        left: 0;
                        transition: 0.4s;
                        top: 2px;
                    }
                    a {
                        font-size: 1rem;
                        font-family: $roboto;
                        font-weight: 500;
                        text-transform: capitalize;
                        color: #333;
                        margin-bottom: 24px;
                        transition: 0.4s;
                        display: block;
                        span {
                            text-transform: uppercase;
                            font-family: $roboto;
                        }
                    }
                }
            }
        }
        > a {
            text-transform: capitalize;
            color: #fff;
            font-weight: 500;
            background: $bg;
            padding: 12px 32px;
            border-radius: 50px;
            display: inline-block;
            transition: all 0.4s;
            margin-top: 20px;
            &:hover {
                background: $bg_hover;
                span {
                    padding-left: 4px;
                }
            }
            span {
                display: inline-block;
                margin-left: 5px;
                transition: all 0.4s;
            }
        }
    }
}
/*-- more__with__us__section  start--*/
.more__with__us__section {
    padding: $padding;
    background: url(../image/ia_100000024.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    text-align: center;
    .section__title {
        h3 {
            text-transform: uppercase;
            color: #fff;
            font-weight: 500;
            font-size: 1.4rem;
        }
        h2 {
            color: #fff;
            font-size: 2.4rem;
            width: 60%;
            margin: 12px auto;
            line-height: 50px;
            margin-bottom: 40px;
        }
    }
    form {
        display: flex;
        justify-content: space-around;
        width: 70%;
        margin: auto;
        margin-top: 20px;
        input {
            flex: 1;
            padding: 16px;
            outline: none;
            margin: 0 10px;
            border: none;
            border-radius: 2px;
            transition: all 0.4s;
            &::placeholder {
                transition: all 0.4s;
            }
            &:focus::placeholder {
                color: #e92d0cbe;
            }
        }
        input[type='submit'] {
            flex: 0;
            border: none;
            outline: none;
            background: $bg;
            color: #fff;
            font-weight: 500;
            font-family: $roboto;
            font-size: 1rem;
            padding: 16px 50px;
            transition: all 0.4s;
            cursor: pointer;
            &:hover {
                background: $bg_hover;
            }
        }
    }
}
/*-- our__features__list__section start--*/
.our__features__list__section {
    padding: $padding;
    background: rgb(255, 255, 255);
    .section__title {
        @include section__title();
    }
    .our__features__list__main {
        display: flex;
        margin-top: 50px;
        flex-wrap: wrap;
        .features__list__item {
            flex: 50%;
            &:hover .features__list__item__content::before {
                width: 100%;
            }
            &:hover .features__list__item__content {
                h2 {
                    color: #fff;
                }
                p {
                    color: rgba(255, 255, 255, 0.767);
                }
            }
            .features__list__item__inner {
                background: #fff;
                box-shadow: 0 0 40px rgba(189, 188, 188, 0.267);
                margin: 20px 15px;
                display: flex;
                align-items: center;
            }
            .features__list__item__image {
                width: 360px;
                transition: all 0.4s;
            }
            .features__list__item__content {
                padding: 30px 20px;
                position: relative;
                transition: all 0.4s linear;
                z-index: 1;
                user-select: none;
                &:hover {
                    h2 {
                        color: #fff;
                    }
                    p {
                        color: rgba(255, 255, 255, 0.767);
                    }
                }
                &::before {
                    content: '';
                    width: 3px;
                    height: 100%;
                    background: #fd491a;
                    position: absolute;
                    top: 0;
                    right: 0;
                    transition: all 0.4s;
                    z-index: -1;
                }
                h2 {
                    text-transform: capitalize;
                    color: #1c1c25;
                    font-size: 1.6rem;
                    margin-bottom: 15px;
                    transition: all 0.4s;
                }
                p {
                    color: #999;
                    font-size: 1rem;
                    line-height: 28px;
                    margin: 0;
                    transition: all 0.4s;
                }
            }
        }
    }
}
/*-- our__project__section start--*/
.our__project__section {
    padding: $padding;
    background: url(../image/ia_100000023.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    .section__title {
        @include section__title();
    }

    .our__project__section__nav {
        text-align: center;
        margin-top: 80px;
        button {
            border: none;
            outline: none;
            font-size: 1rem;
            text-transform: capitalize;
            background-size: cover;
            text-align: left;
            padding: 13px 27px;
            background: transparent;
            transition: all 0.4s;
            font-family: $roboto;
            font-weight: 500;
            color: rgb(134, 134, 134);
            &:hover {
                color: white;

                background: linear-gradient(116deg, #fc5228 0%, #d91b03 77%, rgba(231, 48, 18, 0) 0%, rgba(219, 29, 4, 0) 100%);
            }
            &:first-child {
                color: white;

                background: linear-gradient(116deg, #fc5228 0%, #d91b03 79%, rgba(231, 48, 18, 0) 0%, rgba(219, 29, 4, 0) 100%);
            }
        }
    }
    .our__project__section__items__inner {
        margin-top: 55px;
        .our__project__section__row__one {
            display: flex;
            justify-content: center;
            .project__item {
                cursor: pointer;
                &:hover .project__item__inner .item__hover {
                    left: 0;
                }
                .project__item__inner {
                    position: relative;
                    overflow: hidden;
                    .item__hover {
                        position: absolute;
                        bottom: 40px;
                        left: 0;
                        padding: 10px 30px;
                        padding-right: 100px;
                        transition: all 0.4s;
                        left: -100%;
                        background: linear-gradient(45deg, #ffffff 0%, #ffffff 79%, rgba(231, 48, 18, 0) 0%, rgba(219, 29, 4, 0) 100%);
                        a {
                            display: block;
                            transition: 0.4s;
                            color: #d91b03;
                            text-transform: capitalize;
                            &:hover {
                                color: #a431cc;
                            }
                        }
                        span {
                            display: block;
                            text-transform: capitalize;
                        }
                    }
                }
                margin: 15px;
            }
        }
        .our__project__section__row__two {
            display: flex;
            justify-content: center;
            .project__item {
                cursor: pointer;
                &:hover .project__item__inner .item__hover {
                    left: 0;
                }
                .project__item__inner {
                    position: relative;
                    overflow: hidden;
                    .item__hover {
                        position: absolute;
                        bottom: 40px;
                        left: 0;
                        padding: 10px 30px;
                        padding-right: 100px;
                        transition: all 0.4s;
                        left: -100%;
                        background: linear-gradient(45deg, #ffffff 0%, #ffffff 79%, rgba(231, 48, 18, 0) 0%, rgba(219, 29, 4, 0) 100%);
                        a {
                            display: block;
                            transition: 0.4s;
                            color: #d91b03;
                            text-transform: capitalize;
                            &:hover {
                                color: #a431cc;
                            }
                        }
                        span {
                            display: block;
                            text-transform: capitalize;
                        }
                    }
                }
                margin: 15px;
            }
        }
        .our__project__section__row__three {
            display: flex;
            justify-content: center;
            .project__item {
                cursor: pointer;
                &:hover .project__item__inner .item__hover {
                    left: 0;
                }
                .project__item__inner {
                    position: relative;
                    overflow: hidden;
                    .item__hover {
                        position: absolute;
                        bottom: 40px;
                        left: 0;
                        padding: 10px 30px;
                        padding-right: 100px;
                        transition: all 0.4s;
                        left: -100%;
                        background: linear-gradient(45deg, #ffffff 0%, #ffffff 79%, rgba(231, 48, 18, 0) 0%, rgba(219, 29, 4, 0) 100%);
                        a {
                            display: block;
                            transition: 0.4s;
                            color: #d91b03;
                            text-transform: capitalize;
                            &:hover {
                                color: #a431cc;
                            }
                        }
                        span {
                            display: block;
                            text-transform: capitalize;
                        }
                    }
                }
                margin: 15px;
            }
        }
    }
}
/*-- faq__section start--*/
.faq__section {
    padding: $padding;
    .section__title {
        @include section__title();
        text-align-last: left;
        p {
            text-align: left;
            font-size: 1.1rem;
            color: #666;
            margin: 14px 0;
            line-height: 34px;
            padding-right: 60px;
            margin-bottom: 20px;
        }
    }
    .faq__section__main {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .faq__section__left {
            margin-right: 40px;
            flex: 1;
            .faq__item {
                details {
                    transition: height 0.4s;
                    overflow: hidden;
                }

                details:not([open]) {
                    height: 3.9rem;
                }

                details[open] {
                    height: 11rem;
                }
                details > summary {
                    list-style-type: none;
                }

                details > summary::-webkit-details-marker {
                    display: none;
                }
                details > summary::before {
                    content: '\f058';
                    font-family: 'font awesome 5 free';
                    font-weight: 600;
                    position: absolute;
                    left: 13px;
                    transition: 0.3s;
                    top: 0.8rem;
                    opacity: 1;
                    font-size: 1.1rem;
                }

                details > summary::after {
                    content: '\f078';
                    font-family: 'font awesome 5 free';
                    font-weight: 600;
                    position: absolute;
                    right: 19px;
                    transition: all 0.3s;
                    top: 0.8rem;

                    opacity: 1;
                    font-size: 1.1rem;
                }
                details[open] > summary::before {
                    color: #fff;
                }
                details[open] > summary::after {
                    transform: rotateZ(180deg);
                }
                details[open] > summary {
                    background: $bg_hover;
                    color: #fff;
                }
                details {
                    cursor: pointer;

                    summary {
                        background: #ffffff;
                        color: #333;
                        user-select: none;
                        position: relative;
                        padding: 13px 40px;
                        transition: 0.4s;
                        border-radius: 50px;
                        border: 1px solid #ddd;
                        &:hover {
                            &::before {
                                color: #fff;
                            }
                        }

                        h2 {
                            font-family: $roboto;
                            font-size: 1rem;
                            font-weight: 500;
                        }
                        &:hover {
                            background: $bg;
                            color: #fff;
                        }
                    }
                    p {
                        background: #fff;
                        padding: 20px;
                        font-size: 1rem;
                        line-height: 25px;
                        font-family: $roboto;
                        color: #777;
                        font-weight: 400;
                    }
                }
            }
        }
        .faq__section__right {
            flex: 1;
            text-align: right;
            img {
                max-width: 100%;
            }
        }
    }
}
/*-- testimonial__section  start--*/
.testimonial__section {
    padding: $padding;
    background: url(../image/ia_100000024.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    .section__title {
        @include section__title();
        margin-bottom: 50px;
        h3 > span {
            color: #fc5228 !important;
            font-weight: 400;
        }
        h2 {
            color: #fff;
        }
    }
    .testimonial__section__main_inner {
        display: flex;
        justify-content: space-between;
        .testimonial__item {
            position: relative;
            flex: 1;
            margin: 20px 60px;
            padding: 45px 29px;
            background: #fff;
            padding-left: 57px;
            z-index: 1;
            p {
                font-weight: 500;
                color: #222;
                font-size: 1rem;
                line-height: 31px;
                &::before {
                    content: attr(client__name);
                    position: absolute;
                    top: 45px;
                    left: 33px;
                    width: 100%;
                    height: 100%;
                    background: rgba(255, 255, 255, 0.582);
                    z-index: -1;
                    display: flex;
                    align-items: flex-end;
                    padding: 0 0 10px 30px;
                    box-sizing: border-box;
                    font-weight: 600;
                    color: #111;
                    font-size: 1.1rem;
                }
                &::after {
                    content: '\f10d';
                    font-family: 'font awesome 5 free';
                    font-weight: 600;
                    position: absolute;
                    top: 50px;
                    left: -30px;
                    z-index: 1;
                    width: 70px;
                    height: 70px;
                    background: #fff;
                    box-shadow: 0 0 20px rgba(0, 0, 0, 0.13);
                    text-align: center;
                    line-height: 70px;
                    color: #fc5228;
                    font-size: 2.1rem;
                }
            }
        }
    }
    .testimonial__controler {
        text-align: center;
        margin-top: 100px;
        button {
            width: 20px;
            height: 20px;
            border-radius: 50%;
            border: none;
            outline: none;
            transition: all 0.4s;
            cursor: pointer;
            &:hover {
                background: $bg;
            }
            &:first-child {
                background: $bg;
            }
        }
    }
}
/*-- pricing__section start--*/
.pricing__section {
    padding: $padding;
    .section__title {
        @include section__title();
    }
    .pricing__section__main {
        display: flex;
        justify-content: center;
        margin-top: 80px;
        .pricing__section__item {
            margin: 25px;
            padding: 30px 20px;
            flex: 1;
            background: rgb(255, 255, 255);
            text-align: center;
            background: url(../image/ia_100000027.jpg);
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
            position: relative;
            box-shadow: 0 0 40px rgba(0, 0, 0, 0.103);
            &:nth-child(2) {
                &::before {
                    background: $bg;
                }
                .pricing__table__content {
                    a {
                        background: $bg;
                    }
                    h2 {
                        color: #fc5228;
                    }
                }
            }
            &:hover {
                &::before {
                    background: $bg;
                }
                .pricing__table__content {
                    a {
                        background: $bg;
                    }
                    h2 {
                        color: #fc5228;
                    }
                }
            }
            &::before {
                content: attr(table__quality);
                position: absolute;
                background: #1c1c25;
                color: #fff;
                font-size: 1.2rem;
                font-family: $roboto;
                padding: 8px 23px;
                transition: all 0.4s;
                text-transform: capitalize;
                top: 35px;
                left: 0;
                border-radius: 0 50px 50px 0;
            }
            .pricing__table__image {
                margin-bottom: 30px;
            }
            .pricing__table__content {
                h2 {
                    font-size: 1.5rem;
                    color: #333;
                    margin: 0 0 30px 0;
                    transition: all 0.4s;
                }
                p {
                    font-size: 1rem;
                    font-weight: 400;
                    margin: 20px 0;
                    color: #666;
                    transition: all 0.4s;
                }
                a {
                    display: inline-block;
                    background: #1c1c25;
                    color: #fff;
                    padding: 10px 36px;
                    border-radius: 50px;
                    margin: 25px 0 10px 0;
                    font-family: $roboto;
                    font-weight: 500;
                    transition: all 0.4s;
                }
            }
        }
    }
}
/*-- latest__news__section start--*/
.latest__news__section {
    padding: $padding;
    background: #edf3fb;
    .section__title {
        @include section__title();
        margin-bottom: 95px;
    }
    .latest__news__section__main {
        display: flex;
        justify-content: center;
        .lasest__news__item {
            flex: 1;
            text-align: center;
            margin: 20px 20px;
            border: 1px solid rgba(221, 221, 221, 0.253);
            box-shadow: 0 0 20px #d1d8e02a;
            &:hover {
                img {
                    transform: scale(1.1) rotate(-3deg);
                }
            }
            .news__thumbnail {
                width: 100%;
                height: 350px;
                overflow: hidden;
                img {
                    width: 100%;
                    height: 100%;
                    transition: all 0.5s ease;
                    cursor: pointer;
                }
            }
            .news__content {
                text-align: left;
                padding: 20px;
                background: #fff;
                > a {
                    display: inline-block;
                    margin-right: 10px;
                    text-transform: capitalize;
                    font-family: $roboto;
                    font-weight: 400;
                    color: #777;
                    transition: 0.4s;
                    &:hover {
                        color: #fc5228;
                    }
                    span {
                        display: inline-block;
                        margin-right: 7px;
                        color: #fc5228;
                    }
                }
                h2 {
                    a {
                        font-size: 1.4rem;
                        color: #111;
                        line-height: 35px;
                        margin: 12px 0;
                        display: block;
                        transition: 0.4s;
                        &:hover {
                            color: #fc5228;
                        }
                    }
                }
                p {
                    font-size: 1.1rem;
                    font-family: $roboto;
                    font-weight: 400;
                    color: #777;
                    line-height: 30px;
                }
                a.readmore {
                    font-size: 1.2rem;
                    font-weight: 500;
                    color: #333;
                    text-decoration: underline;
                    transition: 0.4s;
                    display: block;
                    margin: 12px 0;
                    &:hover {
                        color: #fc5228;
                    }
                }
            }
        }
    }
}
/*-- footer section start--*/
footer {
    padding: $padding;
    background: url(../image/ia_100000028.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    .footer__frist__row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid rgba(221, 221, 221, 0.336);
        padding-bottom: 60px;
        .footer__frist__row__left {
            h2 {
                color: #fff;
                font-weight: 600;
                font-size: 2.5rem;
                text-transform: capitalize;
            }
        }
        .footer__frist__row__right {
            a {
                display: inline-block;
                text-transform: capitalize;
                color: #fff;
                background: $bg;
                padding: 10px 40px;
                font-weight: 500;
                border-radius: 50px;
                transition: all 0.4s;
                &:hover {
                    background: $bg_hover;
                }
                font-size: 1.1rem;
            }
        }
    }
    .footer__second__row {
        margin-top: 60px;
        display: flex;
        justify-content: space-between;
        .footer__second__row_item {
            &:nth-child(1) {
                ul li {
                    span {
                        &:hover span {
                            background: $bg;
                            border-color: #fff;
                            color: #fff;
                        }
                        & {
                            display: inline-block;
                            width: 35px;
                            height: 35px;
                            background: #fff;
                            color: #fc5228;
                            border-radius: 50%;
                            text-align: center;
                            line-height: 38px;
                            font-size: 1rem;
                            border: 2px solid transparent;
                            margin-right: 19px;
                        }
                    }
                    a {
                        &:hover {
                            color: #fff;
                        }
                    }
                }
            }
            &:nth-child(2) {
                h2 {
                    position: relative;
                    left: -11px;
                }
                ul li {
                    list-style: disc;
                }
            }
            &:nth-child(3) {
                p {
                    font-size: 1rem;
                    color: #fff;
                }
                input {
                    display: block;
                    padding: 14px;
                    border: none;
                    outline: none;
                    border-radius: 2px;
                    width: 100%;
                    box-sizing: border-box;
                    margin: 15px 0;
                }
                input[type='submit'] {
                    background: $bg;
                    color: #fff;
                    transition: all 0.4s;
                    margin: auto;
                    display: inline-block;
                    text-align: center;
                    font-size: 1rem;
                    transition: all 0.4s;
                    &:hover {
                        background: $bg_hover;
                    }
                }
            }
            flex: 1;
            margin: 10px 20px;
            h2 {
                color: #fff;
                text-transform: capitalize;
                font-size: 1.6rem;
                margin: 0 0 30px 0;
            }
            ul {
                li {
                    margin: 15px 0;
                    color: #fff;
                    font-weight: 500;
                    font-family: $roboto;
                    a {
                        color: #fff;
                        font-weight: 500;
                        text-transform: capitalize;
                        transition: all 0.4s;
                        span {
                            text-transform: uppercase;
                        }
                        &:hover {
                            color: #fc5228;
                        }
                    }
                }
            }
            .inner__item__main {
                display: flex;
                justify-content: space-around;
            }
        }
    }
    .footer__bottom {
        display: flex;
        justify-content: space-between;
        border-top: 1px solid rgba(221, 221, 221, 0.274);
        align-items: center;
        padding: 25px 0;
        > div p {
            margin: 0;
            padding: 0;
            font-weight: 400;
            color: #fff;
        }
        div a {
            text-transform: capitalize;
            color: #fff;
            margin: 0 10px;
            transition: all 0.4s;
            margin-left: -5px;
            margin-right: 15px;
            &:hover {
                color: #fc5228;
            }
        }
    }
    padding-bottom: 0;
    position: relative;
    #scroll__to__top__btn {
        position: fixed;
        z-index: 4;
        width: 40px;
        height: 40px;
        display: inline-block;
        background: #d91b03;
        right: 40px;
        bottom: 40px;
        text-align: center;
        line-height: 40px;
        color: #fff;
        transition: all 0.4s;
        animation: bounce 3s ease-in-out infinite;
        &:hover {
            background: #fc5228;
        }
    }
}
.mobile__logo {
    display: none;
}
#mobile__menu {
    display: none;
}
span {
    position: relative;
    top: 1px;
}
.more__with__us__section .section__title h2 {
    color: #fff;
    font-size: 2.5rem;
    width: 58%;
    margin: 12px auto;
    line-height: 50px;
    margin-bottom: 40px;
}
